@mixin respond-to($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    position: relative; 
    color: #fff;
}

p {
  font-size: 16px;
  margin-bottom: 0px;
}

section {
  margin: 30px 0px;
  @include respond-to(991px) {
    display: block !important;
  }
}

header {
  border-bottom: 1px solid #ccc;
  h1 {
    text-align: center;
  }
}

section.img-principal {
  figure {
    img {
      width: 100%;
    }
  }
}

section.txt-img {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: auto;
    
    .box-txt {
      padding: 1rem;
      p {
        margin-bottom: .7rem !important;
      }
    }
    figure {
      margin-bottom: 0px;
      img {
        width: 100%;
      }
  }
}

section.caract {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: auto;
  margin-bottom: 2rem;
  div {
    padding: .5rem;
    p {
      font-size: 22px;
    }
    i {
      font-size: 54px;
      margin-bottom: 1rem;
    }
  }
  div:first-child {
      text-align: center;
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      h3 {
        padding: 1rem 0rem;
        margin-bottom: .5rem;
      }
  }
  div:nth-child(2) {
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  div:nth-child(3) {
    text-align: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  div:nth-child(4) {
    text-align: center;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }
}


section.galeria {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 20px;
  grid-auto-rows: auto;
  margin-top: 0px;
  figure {
    margin-bottom: 0px;
    img {
      width: 100%;
      @include respond-to(991px) {
        margin: .7rem 0rem;
      }
    }
  }

  div:nth-child(1) {
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  div:nth-child(2) {
    text-align: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  div:nth-child(3) {
    text-align: center;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }
}


footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 1rem 0rem;
}

.popup-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
  position: relative;
  overflow: hidden;
  padding: 16px;
  width: 50%;
  max-width:  700px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 400px;
  @include respond-to(1200px) {
    width: 80%;
  }

  @include respond-to(991px) {
    width: 95%;
  }
  .close {
    color: #FFFFFF;
    font-size: 21px;
    background: #000;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px 5px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: bold;
  }
  p {
    margin: 60px 30px  50px 30px;
    position: relative;
    z-index: 99;
    color: #000;
    opacity: 1 !important;
    @include respond-to(991px) {
      margin-top: 70px;
    }
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: .2;
  }

}





